TP3/WPF GUI/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InscrireParticipants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="affiliation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateInscription" type="xs:dateTime" />
        <xs:element minOccurs="0" name="frais" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InscrireParticipantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InscrireParticipantsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>